[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-inline' *.revolut.com *.revolut.codes https://www.googletagmanager.com https://*.google.com https://*.googlesyndication.com; style-src 'self' 'unsafe-inline' *.revolut.com *.revolut.codes https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; frame-src 'self' *.google.com *.revolut.com *.revolut.codes; connect-src 'self' *.revolut.com *.revolut.codes *.sentry.io aqueduct.revolut.com https://*.google.com https://*.googlesyndication.com; img-src 'self' data: https://images.twicecommerce.com https://firebasestorage.googleapis.com https://purecatamphetamine.github.io https://images.pexels.com; media-src 'self' https://videos.pexels.com; form-action 'self'; base-uri 'self'; object-src 'none'; worker-src 'self' blob:;"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Permissions-Policy = "camera=(), microphone=(), geolocation=(), payment=(*)"

